.form1{  
        overflow: hidden; 
        padding: 20px;  
        background: #23463b63;  
        border-radius: 15px ;  
        padding-right: 5vw;
        padding-left: 5vw;
        margin-top: 1em;
        margin-bottom: 1em;
}
.form-text{
    display:block;
    margin-top:0.25rem;
}
input{
    overflow: visible;
    margin: 0;
    font-size: medium;
    line-height: initial;
}
.edit_number {
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}
label{
    display: inline-block;
    margin-bottom: 0.5rem;
    touch-action: manipulation;
}
h2{
    color: black;
    padding-left: 35rem;
    -webkit-text-stroke-width: thin;
}